*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body {
  height: 100%;
  width: 100%;
}
.card {
  width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid #fd1d5f;
  background-color: #ef6c93;
  border-radius: 10px;
  
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.parent {
  display: flex;
  padding: 50px;
  gap: 25px;
}
.card button {
  padding: 10px 20px;
  background-color: white;
  color: #000;
  border: none;
  border-radius: 10px;
}
.card p{
  margin: 20px 0;
}